.container
{
    background-color: chocolate;
    border: 2px;
}

.btn-sucess
{
    background-color: aquamarine;
    color: white; 
    font-size: 30px;  
}

.btn-cancel
{
    background-color: brown;
    color: antiquewhite;
    font-size: 30px;

}